
[MYS1]Practica3_P26/.vs/[MYS1]Practica3_P26/v16/.suo
[MYS1]Practica3_P26/[MYS1]Practica3_P26/bin/Debug/[MYS1]Practica3_P26.exe
[MYS1]Practica3_P26/[MYS1]Practica3_P26/bin/Debug/[MYS1]Practica3_P26.pdb
[MYS1]Practica3_P26/[MYS1]Practica3_P26/obj/Debug/[MYS1]Practica3_P26.csproj.CoreCompileInputs.cache
[MYS1]Practica3_P26/[MYS1]Practica3_P26/obj/Debug/[MYS1]Practica3_P26.csproj.FileListAbsolute.txt
[MYS1]Practica3_P26/[MYS1]Practica3_P26/obj/Debug/[MYS1]Practica3_P26.csproj.GenerateResource.cache
[MYS1]Practica3_P26/[MYS1]Practica3_P26/obj/Debug/[MYS1]Practica3_P26.csprojAssemblyReference.cache
[MYS1]Practica3_P26/[MYS1]Practica3_P26/obj/Debug/[MYS1]Practica3_P26.exe
[MYS1]Practica3_P26/[MYS1]Practica3_P26/obj/Debug/[MYS1]Practica3_P26.pdb
